.modal-header {
    align-items: start !important;
}
.txtTitle {
    font-size: 14.4px !important;
    font-weight: bold !important;
}
.just .card-body {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
.just {
    height: 115px !important;
    padding: 0px;
}
.just .card-title {
    font-size: 14px;
}
.just .card-text {
    font-size: 14px;
}
.lstVehiculos {
    height: auto;
    max-height: 560px;
    overflow-y: auto;
    padding: 5px 2px;
}
.slcOperadores {
    width: 250px;
}
.card {
    box-shadow: 0 2px 4px rgb(15 34 58 / 49%) !important;
    margin-bottom: 0px !important;
}
.modal-body {
    max-height: 560px !important;
    overflow: hidden !important;
}
// Scroll-bar
.lstVehiculos {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #5b73e8;
    --sb-size: 9px;
}

.lstVehiculos::-webkit-scrollbar {
    width: var(--sb-size);
}

.lstVehiculos::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

.lstVehiculos::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}
.list-turnos {
    max-height: 500px;
    overflow: hidden;
}
.list-title {
    font-weight: bold;
    font-size: 13px;
    color: #495057 !important;
}
.list-item-header {
    border: 2px #495057 solid;
}
.border-orden {
    border-right: 2px #495057 solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lstTurnoSmall {
    font-size: 12px !important;
}
.lstTitulo {
    font-size: 13px;
    font-weight: bold;
    color: #495057;
}
@supports not selector(::-webkit-scrollbar) {
    .lstVehiculos {
        scrollbar-color: var(--sb-thumb-color)
        var(--sb-track-color);
    }
}