/* Etiquetas flotantes */
.lblInp {
    padding-left: 0px !important;
    font-weight: 600 !important;
    color: var(--grisOscuro) !important;
    margin-bottom: 0px;
    width: fit-content;
}
.form-group {
    margin-right: 10px;
}
select {
    width: fit-content !important;
}
.caja-filtro select {
    width: 130px !important;
}
.table-responsive {
    max-height: 500px !important;
    overflow-y: auto !important;
}
/* Multi Select Style*/
.select2-container--bootstrap-5 .select2-selection--multiple {
    display: flex !important;
    flex-direction: row !important;
    max-height: 38px !important;
    padding: 6px 12px !important;
    width: 100% !important;
    overflow-y: auto;
    min-width: 180px;
}
.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered {
    width: 100% !important;
}
.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    font-size: 15px !important;
    padding: 0px !important;
    border: none !important;
    border-radius: 0px !important;
    margin-top: 4px;
    margin-right: 0px;
    cursor: pointer;
    width: 100%;
}
.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__choice:nth-child(1) {
    margin-top: 0px;
    margin-bottom: 0px;
}
.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
    width: 16px !important;
    height: 16px !important;
    background-color: #E0A800;
    border-radius: 3px !important;
    border: 1px #E0A800 solid;
    color: white;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5' d='m7.757 16.243l8.486-8.486m0 8.486L7.757 7.757'/%3E%3C/svg%3E") !important;
}
.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove:hover {
    background-color: #E0A800;
}
.select2-container--bootstrap-5 .select2-selection--multiple .select2-search {
    display: none;
}
