/* Etiquetas flotantes */
.lblInp {
    padding-left: 0px !important;
    font-weight: 600 !important;
    color: var(--grisOscuro) !important;
    margin-bottom: 0px;
    width: fit-content;
}
.form-group {
    margin-right: 10px;
}
select {
    width: fit-content !important;
}
